In [1]:
import numpy as np
import pandas as pd
import re
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/data-science-jobs-around-the-world/AIJobsIndustry.csv

In [2]:
df = pd.read_csv('/kaggle/input/data-science-jobs-around-the-world/AIJobsIndustry.csv')

In [3]:
df.shape

(65670, 5)

In [4]:
df.describe()

,JobTitle,Company,Location,CompanyReviews,Link
count,56603,23459,65670,27705,65670
unique,20578,2951,2702,1985,58667
top,Data Scientist,\n Google,London,2 reviews,http://hu.indeed.com/jobs?q=Python+Data&start=...
freq,1867,674,1704,1038,14

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65670 entries, 0 to 65669
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   JobTitle        56603 non-null  object
 1   Company         23459 non-null  object
 2   Location        65670 non-null  object
 3   CompanyReviews  27705 non-null  object
 4   Link            65670 non-null  object
dtypes: object(5)
memory usage: 2.5+ MB

In [6]:
df.head(10)

,JobTitle,Company,Location,CompanyReviews,Link
0,NaN,NaN,United States,NaN,https://www.indeed.com/jobs?q=Python+Data&star...
1,Data Science Development Program- Junior Data ...,\n MassMutual,"Amherst, MA 01002",628 reviews,https://www.indeed.com/jobs?q=Python+Data&star...
2,Sr. Data Scientist,\n Catasys,Home Based,6 reviews,https://www.indeed.com/jobs?q=Python+Data&star...
3,Object-oriented Programmer,\n Bank of America,"New York, NY 10281","19,303 reviews",https://www.indeed.com/jobs?q=Python+Data&star...
4,Entry-Level Cognitive / AI / Machine Learning ...,\n IBM,"Austin, TX 73344","18,926 reviews",https://www.indeed.com/jobs?q=Python+Data&star...
5,PHP/MySQL Programmer,NaN,"Austin, TX",NaN,https://www.indeed.com/jobs?q=Python+Data&star...
6,Healthcare Programmer,\n Mathematica Policy Research,"Woodlawn, MD",48 reviews,https://www.indeed.com/jobs?q=Python+Data&star...
7,Programmer,\n Columbia University,"New York, NY",640 reviews,https://www.indeed.com/jobs?q=Python+Data&star...
8,Python Programmer Job,\n SAIC,"Monterey, CA","1,757 reviews",https://www.indeed.com/jobs?q=Python+Data&star...
9,BI Analyst,NaN,"San Francisco, CA",NaN,https://www.indeed.com/jobs?q=Python+Data&star...

In [7]:
df.isnull().sum()

JobTitle           9067
Company           42211
Location              0
CompanyReviews    37965
Link                  0
dtype: int64